---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
	title: string;
	description: string;
	link: string;
	imagePath: string;
}

const { title, description, link, imagePath } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
if (!images[imagePath])
	throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<section>
	<div
		class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
	>
		<a href={link}>
			<Image
				class="flex align-middle justify-center"
				src={images[imagePath]()}
				alt="Project image"
			/>
		</a>
		<h5 class="mb-2 text-2xl font-bold underline tracking-tight text-slate-700 dark:text-white">
			{title}
		</h5>
		<p class="mb-3 font-normal text-slate-500 dark:text-slate-400">
			{description}
		</p>
		<a href={link} class="inline-flex font-medium items-center text-slate-600 hover:underline">
			View Now
			<svg
				class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]"
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 18 18"
			>
				<path
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"
				></path>
			</svg>
		</a>
	</div>
</section>
